body{
    align-items: center;
}
h3{
    padding-bottom: 2vh;
}
.header{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color: white;
}
.account-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
    text-align: center;
    border: 3px solid black;
    padding: 1%;
    width: 50vw;
    background-color:white;
    border-radius: 20px;
    padding-left: 30px;
}

.account-label{
    font-weight: bold;
}

.accountdiv{
    padding-bottom: 1vh;
}
