.componentContainer {
    background-image: url("../images/logo2.png");
    background-size:70vw;
    background-position: left;
    background-repeat: no-repeat;
    background-color:#262b2b;
    width: 98vw;
    height: 90vh;
}