.componentContainer {

    background-color:black;

    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    color:white
}
.img1 {
    width:500px;
    height:400px;
}
.ageVerContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: solid rgb(133, 7, 7) 10px;
    margin-top: 120px;
    height:180px;
    padding-left: 20px;
}
.details {
    margin-top: 10px;
    font-size: 18px;
}
p {
    margin-top: 5px;
}
.buttonContainer21{
    margin-top: 20px;
    display: flex;
}
/* HomeAgeVerification.nav-links{
    display: none; */
/* } */
.yesButton {
    width: 160px;
    text-align: center;
    font-size: 16px;
    
}
.yesButton:hover{
    background-image: url("../images/arrow.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
}
.noButton {
    width: 190px;
    text-align: center;
    font-size: 16px;
}
.noButton:hover{
    background-image: url("../images/arrow.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
}