body {
    background: blanchedalmond;
}

form {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    width: 80%;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    padding: 1%;
}

input {
    margin: 1rem;
    text-align: center;
    width: 35vw;
    padding: 0 4rem;
    border: 1px solid black;
}

.submit {
    margin-top: 3vh;
    margin: 1rem;
    padding: 0 1rem;
    border: 1px solid black;
}

.submit:hover{
    background-color:#5E080D;
    color: white;
}