form {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: center;
    margin: 2rem auto;
    border: 2px solid black;
    width: 30vw;
}

input {
    margin: 1rem;
    text-align: center;
    padding: 0 4rem;
}

.submit {
    margin-top: 3vh;
    margin: 1rem;
    padding: 0 1rem;
}