.productHeader {
    text-align: center;
}
.productsNav{
    background-color: rgb(119, 20, 3);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}
.productCardContainerAll {
    background-image: url("../images/vineyard.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 99vw;
    height: 75vh;
    color:black;
    
}
.productCardAll {
    color:black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}
.productImg {
    height: 200px;
    width: 180px;
    margin-top: 8px;  
}
.cardContentContainer {
    padding: 10px;
}
.cardContent {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid white 3px;
    padding: 10px;
    width: 260px;
    height: 280px;
    font-size: 18px;
}
.productName{
    width: 230px;
}
.itemPrice{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 18px;
}
.productButtonsContainer {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
}

.button-81 {
  background-color: rgba(255, 255, 255, 0.536);
  border: 0 solid #e2e8f0;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.0rem;
  font-weight: 300;
  line-height: 1;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none #2a260d solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(48, 50, 55, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #4b1010;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 10px 10px;
  }
}