.productHeader {
    text-align: center;
}
.productsNav{
    background-color: rgb(119, 20, 3);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}
.productCardContainerAll {
    background-image: url("../images/vineyard.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100vw;
    /* opacity: 0.8; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 99vw;
    height: 100vh;
    color:black;
    
}
.productCardAll {
    color:black;
    display: flex;
    flex-wrap: wrap;
    width: 878px;
}
.productImg {
    height: 200px;
    width: 150px;
    
}
.cardContentContainer {
    padding: 10px;
}
.cardContent {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid white 3px;
    padding: 20px;
}
.itemPrice{
    text-align: center;
    background-color: white;
    color: black;
}
.productButtonsContainer {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}
.vProdButtonAll {
    padding: 5px;
    background-color: rgb(184, 182, 182);
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    color: black;
}
.addToCartButton{
    padding: 5px;
    background-color: rgb(184, 182, 182);
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    color: black;
}